
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.books-page a, .books-page a:hover {
  text-decoration: none;
  color: inherit;
}

.books-page img {
  width: 120px;
  height: 150px;
}

.books-page__book {
  margin-bottom: 20px;
}

.book img {
  float: left;
  margin-right: 20px;
  width: 200px;
  height: 320px;
}
